/* Settings */

// Colors

$green: #00a99d;
$greenRGB: rgba(0, 169, 157, 0.9);
$black: #383838;
$gray: #606060;
$lightGray: #dedede;
$darkGray: #aaaaaa;
$whisper: #e4e4e4;

// Font weight

$regular: 400;
$medium: 500;
$extraBold: 800;

