/* Typography */

// Font weights

.regular {
  font-weight: $regular;
}

.medium {
  font-weight: $medium;
}

.extraBold {
  font-weight: $extraBold;
}

// title

.title {
  font-size: 26px;
  font-weight: $extraBold;
  @extend .uppercase;
}