/* Footer */

footer {

  padding-top: 57px;
  padding-bottom: 29px;
  position: relative;

  .square {

    i {
      font-size: 30px;
    }
  }

  .copyright {
    font-weight: $extraBold;
    text-align: center;
  }
}
