/* Header */

header {

  .nav {
    border-bottom: 2px solid $lightGray;
    padding-top: 35px;
    padding-bottom: 30px;
    position: relative;

    nav {

      ul {

        li {
          display: inline-block;

          a {
            font-size: 13px;
            color: $gray;
            font-weight: $extraBold;
            padding: 15px;
            @include transition(0.2s);
            text-transform: uppercase;
            @include border-radius(5px);

            &:hover {
              background-color: $green;
              color: white;
            }
          }
        }
      }
    }

    .menuIcon {
      display: none;
      cursor: pointer;
      font-size: 18px;
      position: absolute;
      right: 15px;

      &:hover {
        @include opacity(0.8);
      }
    }

    .showNav {
      display: inherit;
    }
  }
}
