/* Index */

// Offer section

.offer {
  padding-top: 81px;
  padding-bottom: 111px;

  .items {

    .item {
      text-align: center;
      width: (100% / 3);
      padding-right: 35px;

      &:last-child {
        padding-right: 0;
      }

      div {
        padding-bottom: 35px;
      }

      h3 {
        font-weight: $extraBold;
        text-transform: uppercase;
      }

      p {
        line-height: 26px;
        font-weight: $medium;
        padding-top: 25px;
        padding-bottom: 30px;
      }

      i {
        @include border-radius(100%);
        height: 100px;
        width: 100px;
        text-align: center;
        font-size: 40px;
        line-height: 100px;
        color: $lightGray;
      }
    }
  }
}

// Features section

.features {
  padding-top: 77px;
  padding-bottom: 50px;
  position: relative;

  .items {
    padding-top: 25px;
    max-width: 340px;

    .item {
      @include flex;
      padding-bottom: 70px;

      &:last-child {
        padding-bottom: 0;
      }

      i {
        font-size: 50px;
        color: $green;
        padding-top: 10px;
        padding-right: 35px;
      }

      h3 {
        font-weight: $extraBold;
        color: $lightGray;
        text-transform: uppercase;
      }

      p {
        font-weight: $medium;
        padding-top: 20px;
        line-height: 25px;
      }
    }
  }

  .mockup {
    z-index: 1;
    bottom: -80px;
    right: 115px;
  }
}

// Services section

.services {
  padding-top: 80px;
  padding-bottom: 107px;

  .items {

    .item {
      width: (100% / 3);
      @include flex;
      padding-bottom: 60px;

      .leftContent {
        width: 40px;
        position: relative;

        i {
          font-size: 18px;
          color: $lightGray;
          background-color: $black;
          width: 40px;
          padding-top: 20px;
          padding-bottom: 25px;
          text-align: center;
          @include border-top-radius(5px);
        }

        .chevron {

          &:before {
            top:16px;
          }

          &:after {
            top: 16px;
          }
        }
      }

      .rightContent {
        padding-left: 20px;

        h3 {
          font-weight: $extraBold;
          text-transform: uppercase;
          padding-bottom: 10px;
        }

        span {
          font-size: 12px;
          color: $darkGray;
          text-transform: capitalize;
        }

        p {
          max-width: 300px;
          line-height: 25px;
          padding-top: 20px;
        }
      }
    }

    .custom {

      i {
        background-color: $green!important;
      }

      .chevron:after, .chevron:before {
        background-color: $black;
      }
    }
  }
}


// Skills section

.skills {
  padding-top: 76px;
  padding-bottom: 70px;
  position: relative;

  .items {

    .item {
      width: (100% / 6);
      @include flex;
      flex-direction: column;
      align-items: center;


      .circle, .circle .segment {
        @include border-all(4px, solid, $green);
        @include border-radius(50%);
        height: 122px;
        position: relative;
        width: 122px;
      }

      .circle .segment {
        position: absolute;
        left: -4px;
        top: -4px;
        border-color: $lightGray;
        @include transform(rotate(250deg));
      }

      .custom {
        @include transform(rotate(180deg)!important);
      }

      .inset50 {
        @include clip-path(inset(0 0 50% 0));
      }

      .inset68 {
        @include clip-path(inset(0 0 68% 0));
      }
      .inset75 {
        @include clip-path(inset(0 0 75% 0));
      }

      .inset83 {
        @include clip-path(inset(0 0 83% 0));
      }

      .inset92 {
        @include clip-path(inset(0 0 92% 0));
      }

      .inset100 {
        @include clip-path(inset(0 0 100% 0));
      }


      .circle {

        em {
          font-size: 30px;
          position: absolute;
          font-weight: $extraBold;
          @include XYAlign;
          color: $lightGray;

          span {
            font-size: 16px;
          }
        }
      }

      .skill {
        @extend .extraBold;
        @extend .uppercase;
        @extend .pt20;
      }
    }
  }
}

// Sample works section

.works {
  padding-top: 80px;
  padding-bottom: 110px;

  .items {
    padding: 0 10px 51px 10px;

    .item {
      width: 16.5%;
      position: relative;
      margin-right: 2px;
      margin-bottom: 2px;

      &:hover .onHover {
        visibility: visible;
      }

      img {
        width: 100%;
        display: block;
        @include border-radius(5px);
      }

      .onHover {
        position: absolute;
        background-color: $green;
        text-align: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        @include border-radius(5px);
        visibility: hidden;


        .content {
          @include XYAlign;
          position: absolute;
          color: $lightGray;

          .icons {
            padding-bottom: 40px;

            span {
              @extend .squareSm;
              display: inline-block;
            }

            a {

              &:hover {
                opacity: 0.8;
              }
            }

          }

          em {
            font-size: 16px;
            @extend .blc;
            text-transform: capitalize;
            font-weight: $extraBold;
          }

          span {
            @extend .blc;
            font-size: 12px;
            padding-top: 10px;
            padding-bottom: 20px;
            text-transform: capitalize;
            font-weight: $medium;
          }
        }
      }
    }
  }
}

// Company facts section

.companyFacts {
  padding-top: 76px;
  padding-bottom: 94px;

  .items {

    .item {

      text-align: center;

      .numbers {
        font-size: 80px;
        font-weight: $medium;
        font-style: italic;
        color: #ffffff;
        display: flex;
        justify-content: center;

        &:before {
          content: url("../images/leftShape.png");
          padding-right: 23px;
        }

        &:after {
          content: url("../images/left-shape.png");
          padding-left: 23px;
        }
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 18px;
      }

      i {
        color: $green;
        font-size: 18px;
        padding: 0 12px;

      }

      em {
        font-weight: $extraBold;
        text-transform: uppercase;
      }
    }
  }
}

// Footer
#map {
  height: 500px;
  width: 100%;
}