/* Index */



// Offer section

.offer {
  padding-top: 80px;

  .items {
    padding-bottom: 110px;

    .item {
      @extend .alignCenter;
      width: (100% / 3);
      @extend .pr30;

      span {
        @extend .pb35;
        @extend .blc;
      }

      em, a {
        @extend .extraBold;
        @extend .uppercase;
      }

      a {
        @include transition(0.3s);
      }

      p {
        @extend .pt25;
        @extend .pb30;
        max-width: 380px;
        margin: 0 auto;
        line-height: 26px;
        @extend .md;
      }

      i {
        @include border-radius(100%);
        height: 100px;
        width: 100px;
        text-align: center;
        font-size: 40px;
        line-height: 100px;
        color: $lightGray;
      }
    }
  }
}

// Features

.features {

  .items {

    padding-bottom: 55px;

    .item {
      @extend .flex;
      padding-bottom: 70px;

      &:last-child {
        padding-bottom: 0;
      }

      i {
        font-size: 50px;
        @extend .green;
        @extend .pr35;
        @extend .pt10;
      }

      div {

        max-width: 265px;

        em {
          @extend .extraBold;
          color: #ffffff;
          @extend .uppercase;
        }

        p {
          @extend .md;
          @extend .pt20;
          line-height: 25px;
        }
      }
    }
  }
  .mockup {
    z-index: 1;
    bottom: -80px;
    right: 115px;
  }
}

.services {

  .items {
    padding-top: 95px;
    padding-bottom: 105px;

    .item {
      width: (100% / 3);
      @extend .flex;
      padding-bottom: 60px;

      i {
        font-size: 20px;
        @extend .lightGray;
        @extend .darkBg;
        width: 54px;
        @extend .pt20;
        @extend .pb25;
        @extend .alignCenter;
        @include border-top-radius(5px);
      }

      .chevron {
        position: relative;
        text-align: center;
        padding: 27px;

        &:before {
          content: '';
          @extend .absolute;
          top: 16px;
          left: 0;
          height: 40%;
          width: 50%;
          @extend .greenBg;
          @include skew(0,40);
        }
      }

      .chevron:after {
        content: '';
        @extend .absolute;
        top: 16px;
        right: 0;
        height: 40%;
        width: 50%;
        @extend .greenBg;
        @include skew(0,-40);
      }


      .service {

        em {
          @extend .extraBold;
          @extend .uppercase;
        }

        span {
          @extend .blc;
          font-size: 12px;
          @extend .darkGray;
          @extend .pt10;
          @extend .pb30;
          @extend .capitalize;
        }

        p {
          max-width: 300px;
          line-height: 25px;
        }
      }
    }
    .puzzle {

      i {
        @extend .greenBg;
      }

      .chevron:after, .chevron:before {
        background-color: $black;
      }
    }
  }
}

.skills {

  .items {
    padding-bottom: 70px;

    .item {
      width: (100% / 6);
      @extend .flex;
      @extend .flexColumn;
      @extend .alignItemCenter;

      .circle, .circle .segment {
        @include border-all(5px, solid, $green);
        @include border-radius(50%);
        height: 122px;
        @extend .relative;
        width: 122px;
      }

      .circle .segment {
        left: -5px;
        @extend .absolute;
        top: -5px;
        border-color: $lightGray;
        @include transform(rotate(240deg));
      }

      .inset50 {
        @include clip-path(inset(0 0 50% 0));
      }

      .inset68 {
        @include clip-path(inset(0 0 68% 0));
      }
      .inset75 {
        @include clip-path(inset(0 0 75% 0));
      }

      .inset83 {
        @include clip-path(inset(0 0 83% 0));
      }

      .inset92 {
        @include clip-path(inset(0 0 92% 0));
      }

      .inset100 {
        @include clip-path(inset(0 0 100% 0));
      }



      .circle {

        em {
          font-size: 25px;
          @extend .absolute;
          @extend .extraBold;
          @include XYAlign;
          @extend .lightGray;

          span {
            font-size: 16px;
          }
        }
      }

      .skill {
        @extend .extraBold;
        @extend .uppercase;
        @extend .pt20;
      }
    }
  }
}

.works {
  padding-bottom: 110px;

  .items {
    @extend .pr10;
    @extend .pl10;

    .item {
      width: 16.4%;
      @extend .relative;
      margin-right: 2px;
      margin-bottom: 2px;

      &:hover .onHover {
        visibility: visible;
      }

      img {
        width: 100%;
        @include border-radius(5px);
      }

      .onHover {
        @extend .absolute;
        @extend .greenBg;
        @extend .alignCenter;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        @include border-radius(5px);
        visibility: hidden;


        .content {
          @include XYAlign;
          @extend .absolute;
          @extend .lightGray;

          .icons {
            @extend .pb40;

            span {
              @extend .squareSm;
              @extend .inlineBlc;
            }

            a {

              &:hover {
                opacity: 0.8;
              }
            }

          }

          em {
            @extend .capitalize;
            font-size: 16px;
            @extend .blc;
            @extend .extraBold;
          }

          span {
            @extend .pt10;
            @extend .pb20;
            @extend .blc;
            @extend .capitalize;
            @extend .md;
            font-size: 12px;
          }
        }
      }
    }
  }

  button {
    @include border-radius(5px);

    &:hover {
      opacity: 0.8;
    }
  }
}

// Company facts section

.companyFacts {

  .items {

    .item {

      em {

        &:before, &:after {
          content: url("../images/left-shape.png");
        }
      }
    }
  }
}

// Footer
#map {
  height: 500px;
  width: 100%;
}