/* Index */



// Offer section

.offer {
  padding-top: 80px;

  .items {
    padding-bottom: 110px;

    .item {
      @extend .alignCenter;
      width: (100% / 3);

      span {
        @extend .pb35;
        @extend .blc;
      }

      em, a {
        @extend .extraBold;
        @extend .uppercase;
      }

      a {
        @include transition(0.3s);
      }

      p {
        @extend .pt25;
        @extend .pb30;
        max-width: 380px;
        margin: 0 auto;
        line-height: 30px;
        @extend .md;
      }

      i {
        @include border-radius(100%);
        height: 100px;
        width: 100px;
        text-align: center;
        font-size: 40px;
        line-height: 100px;
        color: $lightGrey;
      }
    }
  }
}

// Features

.features {
  .mockup {
    z-index: 1;
    bottom: -80px;
    right: 115px;
  }
}



// Footer
#map {
  height: 500px;
  width: 100%;
}