/* Buttons */

.btn {
  @include border-all(1px, solid, transparent);
  text-transform: uppercase;
  font-weight: $extraBold;
  @include border-radius(5px);
  cursor: pointer;
}

.btnSm {
  padding: 12px 13px;
}

.btnXL {
  padding: 16px 530px;
}

.outline {
  border-color: $lightGray;
}

.btnTransparent{
  background-color: transparent;
  color: $gray;
  @include transition(0.3s);

  &:hover {
    background-color: $green;
    color: #ffffff;
    border-color: transparent;
  }
}

.btnGreen {
  background-color: $green;
  color: $lightGray;
  @include transition(0.3s);

  &:hover {
    background-color: $black;
  }
}

.btnGray {
  background-color: $whisper;
  color: $green;

  &:hover {
    background-color: $black;
    color: $lightGray;
  }
}


