/* Content element styles */

// container, body

body {
  font-family: 'Raleway', sans-serif;
  font-weight: $regular;
  font-size: 14px;
  color: $gray;
  background-color: #f9f9f9;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.clearAfter {

  &:after {
    content: "";
    clear: both;
    display: block;
  }
}

// Colors

.green {
  color: $green;
}
.black {
  color: $black;
}

.gray {
  color: $gray;
}

.white {
  color: #ffffff;
}

.lightGray {
  color: $lightGray;
}

.darkGray {
  color: #aaaaaa;
}

// Backgrounds

.darkBg {
  background-color: $black;
}

.greenBg {
  background-color: $green;
}

.whiteBg {
  background-color: #ffffff;
}

// Text-transform

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

// Positions

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

// Text align

.alignCenter {
  text-align: center;
}

// Floats

.fltLeft {
  float: left;
}

.fltRight {
  float: right;
}

.linesLeft {
  border-bottom: 1px double #ffffff;
}




