/* Global */

// Logo

.logo {
  max-height: 45px;

  &:hover {
    @include opacity(0.8);
  }
}

// Section title

.title {
  @include flex;
  align-items: center;
  justify-content: center;

  h2 {
    &:before {
      content: url("../images/left-shapes.png");
      padding-right: 18px;
    }

    &:after {
      content: url("../images/right-shapes.png");
      padding-left: 18px;
    }
  }
}

// Section descriptive text

.desc {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
  font-weight: $medium;
}

// Lines

.linesLeft{
  border-image: linear-gradient(to right, #ffffff 0%, $lightGray 61%, $lightGray 100%);
  margin-right: 10px;
}

.linesRight {
  margin-left: 10px;
  border-image: linear-gradient(to left, #ffffff 0%, $lightGray 61%, $lightGray 100%);
}

.linesSm {
  width: 130px;
  height: 6px;
}

.linesLg {
  width: 400px;
  height: 8px;
}

.lines {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-image-slice: 1;
}

// Single line

.line {
  width: 117px;
  border-bottom: 1px solid $gray;
}

// Square

.square {
  position: absolute;
  @include XAlign;
  top: -30px;

  div  {
    height: 60px;
    text-align: center;
    transform: rotate(45deg);
    width: 60px;
    @include border-radius(4px);

    i {
      color: #ffffff;
      font-size: 25px;
      height: 60px;
      @include rotate(-45deg);
      vertical-align: middle;
      width: 60px;
      line-height: 60px;
    }
  }
}

// Square small

.squareSm {
  height: 40px;
  width: 40px;
  @include rotate(45deg);
  @include border-radius(4px);
  text-align: center;

  i {
    font-size: 18px;
    @include rotate(-45deg);
    height: 40px;
    vertical-align: middle;
    width: 40px;
    line-height: 40px;
  }
}

// Chevron

.chevron {
  position: absolute;
  width: 100%;
  height: 55px;
  top: 35px;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    height: 40%;
    width: 51%;
    background-color: $green;
    @include skew(0, 40);
  }
}

.chevron:after {
  content: '';
  position: absolute;
  right: 0;
  height: 40%;
  width: 50%;
  background-color: $green;
  @include skew(0, -40);
}

// Owl carousel icons

.owl-nav i {
  font-size: 28px;
  width: 31px;
  height: 31px;
  line-height: 31px;
  background-color: $whisper;
  color: $green;
  @include border-radius(5px);
}






