/* Global */

.logo {
  max-height: 45px;
}

.desc {
  @extend .md;
  @extend .alignCenter;
  @extend .pt20;
  @extend .pb50;
  font-size: 16px;
}

.square {

  @extend .absolute;
  @include XAlign;


  div  {
    height: 60px;
    width: 60px;
    @extend .greenBg;
    @include rotate(45deg);
    @extend .relative;
    @include border-radius(4px);
    top: -30px;

    i {
      color: #ffffff;
      font-size: 25px;
      @extend .absolute;
      @include XYAlign;
    }
  }
}